__pycache__
client_secrets/

# Python virtual environments
env/
env.bak/
venv/
venv.bak/

# Environment variable files
.env

# Ignore contents of a folder but keep the folder
etl/data/jsons/*
!etl/data/jsons/.gitkeep

etl/data/to_insert/*
!etl/data/to_insert/.gitkeep

etl/data/archive/*
!etl/data/archive/.gitkeep